@import "tailwindcss";

html {
  color-scheme: dark;
}

body {
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::selection {
  background-color: rgb(255 255 255 / 0.2);
}
